html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  background-color: rgba(0, 0, 0, 0.3);
  padding: 0;
  text-align: center;
  position: fixed;
  width: 100%;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.scroll-fade-in {
  background-color: #333;
  transition: background-color 0.5s ease-in, color 0.5s ease-in;
}

.scroll-fade-out {
  transition: background-color 0.5s ease-out, color 0.5s ease-out;
}

.header-title {
  margin: 0 0 0 5rem;
  padding: 0;
  text-decoration: none;
  color: #ccc;
}

.header-title-scroll {
  text-decoration: none;
  color: #ccc;
  transition: background-color 0.5s ease-out, color 0.5s ease-out;
}

.header-buttons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
  height: 3rem;
  width: 70%;
}

.header-buttons li {
  list-style: none;
  margin: 0 10px;
}

.header-nav {
  color: #ccc;
  border: none;
  padding: 0.2rem 0.5rem;
  background-color: transparent;
  cursor: pointer;
  font-size: 18px;
}

.menu-button {
  display: none;
  margin: 0 2rem 0 0;
  font-size: 24px;
}

.menu-ctn {
  position: relative;
  width: 100%;
  height: 0%;
}

.menu-buttons-ctn {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  position: fixed;
  right: 0;
  top: 81px;
  z-index: 1;
  background-color: #eee;
  border-radius: 15px 0 0 15px;
  display: none;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.menu-buttons-ctn.active {
  display: block;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.menu-buttons-ctn li {
  border-bottom: 1px solid black;
}

.menu-buttons-ctn li:last-child {
  border-bottom: none;
}

.menu-buttons {
  background-color: transparent;
  border: none;
  font-size: 20px;
  padding: 0.4rem 1rem;
  width: 100%;
  text-align: left;
  cursor: pointer;
}

.menu-buttons:hover {
  background-color: #ddd;
}

.menu-buttons-ctn li:first-child .menu-buttons:hover {
  border-radius: 15px 0 0 0;
}

.menu-buttons-ctn li:last-child .menu-buttons:hover {
  border-radius: 0 0 0 15px;
}

.header-nav-scroll {
  transition: background-color 0.5s ease-out, color 0.5s ease-out;
}

.slideshow-main {
  display: flex;
  justify-content: center;
  background-color: #63327c;
  height: 100vh;
  position: relative;
}

.slideshow-main img {
  width: 100%;
  height: 100vh;
  position: absolute;
  opacity: 0;
  transition: opacity 2s ease-in-out;
}

.slideshow-main img.active {
  opacity: 1;
}

.sections {
  margin: 2rem 1rem;
}

.bg-container {
  padding: 2rem;
  border-radius: 25px;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3), -10px -10px 15px rgba(255, 255, 255, 0.7);
}

.section-1,
.section-2,
.section-3,
.section-4,
.section-5 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-1 {
  background: radial-gradient(circle at center, lightgray, rgb(252, 255, 50), rgb(202, 213, 7));
}

.section-2 {
  background: radial-gradient(circle at center, lightgray, rgb(215 155 176), rgb(245 109 157));
}

.section-3 {
  background: radial-gradient(circle at center, lightgray, rgb(27, 163, 163), teal);
}

.section-4 {
  background: radial-gradient(circle at center, lightgray, rgb(70 255 50), rgb(169 247 65));
}

.section-5 {
  background: radial-gradient(circle at center, lightgray, #efe5b1, #c5b06c);
}

.text-container {
  width: 50%;
  margin: 0 1rem;
}

.text-container p {
  font-size: 17px;
}

.video-container {
  position: relative;
  width: 80%;
  height: 0;
  padding-bottom: 35.25%;
  overflow: hidden;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.home-tour-container {
  margin: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-tour-container h2 {
  margin: 0;
  padding: 0;
}

.home-tour-button {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.home-tour-button a {
  text-decoration: none;
  width: 70%;
}

.home-tour-button button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.home-tour-button-bg {
  border: 1px solid rgb(252, 178, 18);
}

.home-tour-button-bg img {
  width: 100%;
}

.tour-ctn {
  position: relative;
  display: flex;
  width: 100%;
  overflow: hidden;
  justify-content: space-evenly;
}

.tour-header {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ccc;
  background-color: #333;
}

.tour-title {
  width: 30%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 0 0 4rem;
  padding: 0 0rem 0px 1rem;
  transform: translateY(5rem);
  box-shadow: -5px 5px 9px -7px;
}

.tour-title p {
  line-height: 1.2rem;
}

/* Image carousel on tour page */
.carousel-img-ctn {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 30rem;
}

.carousel-ctn {
  width: 70%;
}

.carousel {
  width: 45%;
  max-height: 85%;
  margin: 1rem 0;
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.current {
  z-index: 5;
  opacity: 1;
  transition: ease-in-out 0.3s;
}

.next {
  transform: translateX(30%);
  z-index: 2;
  opacity: 0;
  transition: ease-in-out 0.3s;
}

.prev {
  transform: translateX(-30%);
  z-index: 2;
  opacity: 0;
  transition: ease-in-out 0.3s;
}

.carousel-buttons {
  text-align: center;
}

.carousel-buttons button {
  border: none;
  cursor: pointer;
  margin: 0 1rem;
  background-color: transparent;
}

.carousel-buttons button i {
  font-size: 2rem;
}
/* Image carousel on tour page */

.overview-ctn,
.amenities-ctn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem 0 0 0;
}

.overview-text {
  margin-right: 2rem;
}

.overview-text,
.amenities-text {
  width: 60%;
}

.amenities-text {
  margin-left: 2rem;
}

.amenities-text ul,
.options-text ul {
  padding: 0 0 0 1rem;
}

.overview-img,
.amenities-img {
  text-align: center;
  width: 40%;
}

.overview-img img,
.amenities-img img {
  width: 90%;
}

.pricing-options-ctn {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 8rem 0 0 0;
}

.pricing-ctn,
.options-ctn {
  width: 40%;
  height: 18rem;
  padding: 1rem;
  border: 1px solid;
  display: flex;
}

.reviews-ctn {
  padding: 6rem 0;
}

.reviews-header {
  text-align: center;
}

.reviews-reviews {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.user-ctn {
  margin: 2rem;
  padding: 1rem;
  border: 1px solid black;
  width: 40%;
  height: 22rem;
}

/* Footer styles */
.footer-container {
  padding: 2rem 6rem;
  background-color: #edc256;
}

.footer-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* Footer styles */

/* Media queries */
@media (max-width: 1024px) {
  .home-nav-buttons {
    display: none;
  }

  .menu-button {
    display: block;
  }

  .header-buttons {
    display: none;
  }
}

@media (max-width: 768px) {
  .overview-ctn,
  .section-1,
  .section-3,
  .section-5,
  .amenities-ctn,
  .pricing-options-ctn {
    flex-direction: column;
  }

  .section-2,
  .section-4 {
    flex-direction: column-reverse;
  }

  .text-container {
    width: 100%;
  }

  .video-container {
    width: 100%;
    padding-bottom: 56.25%;
  }

  .home-tour-button a {
    width: 95%;
  }

  .overview-text,
  .amenities-text {
    width: 85%;
  }

  .overview-img,
  .amenities-img {
    width: 60%;
  }

  .pricing-ctn,
  .options-ctn{
    width: 80%;
  }

  .pricing-options-ctn {
    padding: 6rem 0 0 0;
  }

  .pricing-ctn {
    margin-bottom: 1rem;
  }

  .reviews-ctn {
    padding: 5rem 0 0 0;
  }

  .user-ctn {
    width: 80%;
    height: 100%;
  }

  .footer-container {
    padding: 0rem 1rem;
  }
}

@media (max-width: 425px) {
  .header-title {
    margin: 0 0 0 1rem;
  }
  
  .overview-img,
  .amenities-img {
    width: 80%;
  }

  .pricing-ctn,
  .options-ctn{
    height: 22rem;;
  }

  .footer-text {
    flex-direction: column;
  }
}